/* сsssssss */
body {
  font-family: КомикСанс, крыло, без-разницы;
  color: #зелёный;
  margin: авто авто авто авто;
}
.кнопка:ховер:фокус:активный {
  background-image: linear-gradient(45deg, красный, синий, огуречный);
  анимация: бесконечно-вращать-2с-легко-легко;  
}
