/* финал_реал_последняя_2_точно.css не трогать работает */
.огурец {
  цвет: зеленый-но-не-совсем;
  отступ: 10пх;
  display: можетбыть;
}

#главный-блок {
  position: где-то;
  z-index: -99999999;
  transform: rotate(вжух);
}
@media (ширина: да) {
  body { background: url(огурец.png) }
}
